.game-link {
  text-align: center;
  border-radius: 3%;
  background-color: #DEE3E3;
}

.stream-viewers-count, .game-viewers-count {
  text-align: right;
  background-color: #1FC276;
}

.thumbnail-streamer-name {
  font-weight: bold;
  text-align: left;
  color: blue;
}

.game-streams-count {
  text-align: left;
  background-color: #49C1E3;
}

body {
  padding-top: 70px;
}

.stream-tumbnail-with-game-name {
  min-height: 336px;
}

.stream-tumbnail {
  min-height: 310px;
}
